* {
    font-family: JetBrains Mono;
}

body {

    background: rgb(150, 82, 194);
    background: linear-gradient(180deg, rgba(150, 82, 194, 1) 0%, rgba(137, 81, 188, 1) 24%, rgba(124, 81, 182, 1) 47%, rgba(111, 81, 176, 1) 71%, rgba(103, 80, 172, 1) 86%, rgba(95, 80, 169, 1) 100%);
}

.styleNav {
    background-color: #D8BFD8;
}

.backgroundRemover {
    mix-blend-mode: multiply;
}

.image {
    width: 30%;

    filter: drop-shadow(20px 20px 2.3px rgb(228, 171, 228));


}

.pointer {
    cursor: pointer;
}

.spaceTop {
    margin-top: 10%;
}

.custom-shape-divider-top-1679597416 {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-top-1679597416 svg {
    position: relative;
    display: block;
    width: calc(216% + 1.3px);
    height: 96px;
}

.custom-shape-divider-top-1679597416 .shape-fill {
    fill: #D8BFD8;

}

.paragrafo {
    font-size: 1.2rem;
    text-align: left;
    padding-bottom: 3%;
    margin: 10% 5% 10% 5%;
    border-bottom: 1px solid rgb(71, 71, 71);
    text-shadow: 1.5px 2px #D8BFD8;
}

.carousel {
    border: 1px outset rgb(71, 71, 71);
    border-radius: 5px;
    padding: 2px;
    width: 80%;
}

.custom-box-shadow {
    box-shadow: inset 14px 5px 34px 9px rgba(0, 0, 0, 0.1);
}

.box-shadow {
    box-shadow: 3px 4px #D8BFD8;
}

.margin {
    margin-top: 12%;
}

.float {
    display: grid;
    place-items: center;
    position: fixed;
    width: 60px;
    height: 60px;
    bottom: 40px;
    right: 40px;
    background-color: #25d366;
    color: #ffff;
    border-radius: 50px;
    text-align: center;
    box-shadow: 2px 2px 3px #999;
    z-index: 100;
}


.btn-back-to-top {
    position: fixed;
    bottom: 570px;
    right: 40px;
    background-color: #007bff;
    color: white;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    text-align: center;
    font-size: 24px;
    z-index: 100;
    left: 50%;
    transform: translateX(-50%);
    padding-top: 0.8%;
    display: none;
}

.btn-back-to-top:hover {
    background-color: #0066cc;
    color: white;
}



.titulos {
    font-size: 2.0rem;
    text-align: left;
    padding-bottom: 1%;
    margin: 10% 5% 10% 5%;
    border-bottom: 1px solid rgb(71, 71, 71);
    text-shadow: 1.5px 2px rgb(71, 71, 71);
    width: fit-content;
    color: #D8BFD8;
}

/* Estilos para o ícone do botão em hover */
.float:hover i {
    margin-top: -2px;
}

.esconder {
    display: none;
}


/*Botão voltar ao topo*/
#voltar-ao-topo {
    position: fixed;
    bottom: 70%;
    right: 3%;
    z-index: 100;
}