* {
    font-family: JetBrains Mono;
}

body {
    background-color: #fcbbf8;
}

.custom-shape-divider-top-1679597416 {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-top-1679597416 svg {
    position: relative;
    display: block;
    width: calc(216% + 1.3px);
    height: 96px;
}

.custom-shape-divider-top-1679597416 .shape-fill {
    fill: #d15dc7;
}

.paragrafo {
    font-size: 1.2rem;
    text-align: left;
    padding-bottom: 3%;
    margin: 10% 5% 10% 5%;
    border-bottom: 1px solid rgb(71, 71, 71);
    text-shadow: 1.5px 2px #b87aff;
}

.carousel {
    border: 1px outset rgb(71, 71, 71);
    border-radius: 5px;
    padding: 2px;
    width: 80%;
}

.custom-box-shadow {
    box-shadow: inset 14px 5px 34px 9px rgba(0, 0, 0, 0.1);
}

.box-shadow {
    box-shadow: 2px 4px rgba(0, 0, 0, 0.2);
}

.margin {
    margin-top: 12%;
}

.float {
    display: grid;
    place-items: center;
    position: fixed;
    width: 60px;
    height: 60px;
    bottom: 40px;
    right: 40px;
    background-color: #25d366;
    color: #fff;
    border-radius: 50px;
    text-align: center;
    box-shadow: 2px 2px 3px #999;
    z-index: 100;
}

/* Estilos para o ícone do botão em hover */
.float:hover i {
    margin-top: -2px;
}

/* Estilos para o ícone do botão em dispositivos móveis */

@media (max-width: 767px) {
    .float {
        width: 50px;
        height: 50px;
        bottom: 20px;
        right: 20px;
    }

}





.botaoTopo {
    position: fixed;
    width: 60px;
    height: 40px;
    bottom: 600px;
    right: 150px;
    border-radius: 50px;
    text-align: center;
    box-shadow: 2px 2px 3px #999;
    z-index: 100;
    padding-top: 0.7%;
    margin-top: 1%;
}

.my-custom-arrow {
    color: #fff;
    /* define a cor da seta */
    font-size: 1.3rem;
    /* define o tamanho da seta */
}

.titulos {
    font-size: 2.0rem;
    text-align: left;
    padding-bottom: 1%;
    margin: 10% 5% 10% 5%;
    border-bottom: 1px solid rgb(71, 71, 71);
    text-shadow: 1.5px 2px #b87aff;
    width: fit-content;
}